body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}
canvas#canvas{
    display: block;
    width: 100%;
    height: 100%;
}
.phaser-container{
    max-width: 100vw;
    height: 100%;
    position: relative;
}
/* dialoger */
.dialoger-ui{
    position: fixed;
    top: 60px;
    right: 60px;
    width: 600px;
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}
.dialoger-overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}
.dialoger-overlay.active{
    visibility: visible;
    opacity: .5;
}
.dialoger-ui.active{
    visibility: visible;
    opacity: 1;
}
.dialoger-ui__top{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.dialoger-ui__charname{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.dialoger-ui__phrase{
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #d3d3d3;
    padding: 16px;
    border-radius: 12px;
}
.dialoger-ui__option {
    color: #812d2d;
    margin-bottom: 8px;
    margin-left: 16px;
    cursor:pointer;
}
.dialoger-ui__option:hover {
    color: red;
}
.dialoger-ui__actions-container{
    text-align: right;
}
.dialoger-ui__action-btn{
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    padding: 6px 24px;
    font-weight: 500;
    font-size: 16px;
}
.dialoger-ui__avatar{
    background-image: url("./assets/portraits.jpg");
    width: 180px;
    height: 180px;
    background-size: auto 180px;
}